<!-- /* ExoBUD MP(II) 播放清单样式表 */ 
a,a:link { color: #000000; text-decoration: none; }
a:visited { color: #000000; text-decoration: none; }
a:active { color: #FF0000 text-decoration: none; }
a:hover { color: #FF0000; text-decoration: none; }
body { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
background-image: url(../theme/bg.jpg);
SCROLLBAR-FACE-COLOR: #ffffff;
SCROLLBAR-HIGHLIGHT-COLOR: #849cbd; 
SCROLLBAR-SHADOW-COLOR: #849cbd; 
SCROLLBAR-3DLIGHT-COLOR: #849cbd; 
SCROLLBAR-ARROW-COLOR: #849cbd; 
SCROLLBAR-TRACK-COLOR: #ffffff;
SCROLLBAR-DARKSHADOW-COLOR: #849cbd;
}
body,td { font-family: '宋体','Verdana','Arial'; font-size: 12px; color: #000000; }
/*td { font-family: 'Arial','Verdana','Arial'; font-size: 11px; color: #000000; }*/
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Arial
}

/* ８点迷你中文字型，请在有需要时，以 <span lang=zh-tw> 语法一起使用 */
/* .minichi { font-family: '新细明体','PMingLiU'; font-size: 8pt; } */
//-->
 
 
